<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
<div id="main-chart">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script src="js/script.js" defer></script>    
</body>
</html>