<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <%- include('./includes/messages.ejs') %>
    <form action="/login" method="POST">
        <fieldset>
            <legend>Login</legend>
            <p>
                <label for="username">Username</label>
                <input name="username" type="text" placeholder="username" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="password" required>
            </p>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>