<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <%- include('./includes/messages.ejs') %>
    <form class="form-row m-3" action="/login" method="POST">
        <div class="form-group p-3 border rounded">
            <legend>Login</legend>
            <!-- <p>
                <label for="username">Username</label>
                <input name="username" type="text" placeholder="username" required>
            </p> -->
            <p>
                <label for="email">Email</label>
                <input class="form-control" name="email" type="email" placeholder="Email" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input class="form-control" name="password" type="password" placeholder="Password" required>
            </p>
            <div class="row justify-content-center">
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>