<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <%- include('./includes/messages.ejs') %>
    <div id="main">
        <form class="form-row m-3" action="/register" method="POST">
            <div class="form-group p-3 border rounded">
                <legend>Register</legend>
                <p>
                    <label for="username">Username</label>
                    <input class="form-control" name="username" type="text" placeholder="username" required>
                </p>
                <p>
                    <label for="email">Email</label>
                    <input class="form-control" name="email" type="email" placeholder="Email" required>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input class="form-control" name="password" type="password" placeholder="password" required>
                </p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>